.header{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;  
}
.header>.nav{
    margin-top: 20px;
    margin-left: 530px;
    width: 350px;
    
    display: flex;
}
.nav>p{
    padding: 5px;
    font-size: 15px;
}
.nav>p:hover{
    cursor: pointer;
    color: #2dae36;
    margin-bottom: 0;
    border-bottom: 2px solid #2dae36;
}
.home{
    color:#2dae36;
    margin-bottom: 0;
    border-bottom:2px solid #2dae36;
}
.logo{
    margin-bottom: 10px;
    margin-top: 10px;
}
.jingshen h3{
    
    text-align: center;
}
.jingshen{
    margin-top: 50px;
}
.row{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.row img{
    width: 80px;
    height: 80px;
}
.container{
    margin-top: 40px;
}

.text1{
    margin-left: 20px;
    margin-right: 20px;
    color: #2dae36;
}
.show{
    width: 120px;
    color: white;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    background: #2dae36;
    border-radius: 16px 0 16px 0;
    
}
.fenge{
    height: 42px;
    border-bottom:1px solid #2dae36;
    margin-top: 60px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.product{
    width: 1200px;
    margin-left: 82px;
    padding: 20px;
    
}
.product div{
    padding: 10px;
}
.product img{
    width: 340px;
    height: 260px;
}
.footer{
    margin-top: 650px;
    height: 130px;
    background: #dddddd;
    position: relative;
}

.img2{
    width: 100px;
    height: 80px;
}
.center{
    margin-top: 25px;
    width: 1300px;
    padding-left: 10%;
    padding-right: 10%;
    position: absolute;
}
.about{
    margin-top: 10px;
    text-align: center;
}
.footer_img{
    text-align: center;
}
.pic img{
    width: 1350px;
    height: 350px;
}
.footer_about p{
    cursor: pointer;
}
.body2{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    width: 1100px;
}
.map{
    
    margin-left: auto;
    margin-right: auto;
}
.text2{
    text-indent: 30px;
    margin-left: 20px;
    
}
.text2 p{
    padding: 5px;
}
.text2 span{
    color: #88d18d;
}

.footer3{
    background: #dddddd;
    margin-top: 50px;
}
.center3{
    margin-top: 50%;
    padding-top: 20px;
   
}
.center4{
    
    padding-top: 20px;
   
}
#img_product{
    width: 100px;
    height: 80px;
}
.nav-tabs{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    
}
.tab-content{
    
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    
}
.tab-content img{
    width: 300px;
    height: 250px;
    padding: 10px;
    
}
.tiaojian{
    background: #f9f9f9;
    margin-top: 10px;
    border-bottom: 1px dashed #2dae36 ;
}
.center_us{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
}
.right_us{
    margin-top: 30px;
    margin-left: 300px;
}
.left_us{
    width: 350px;
    margin-top: 20px;
    text-align: center;
    display: flex;
}
.left_us img{
    width: 160px;
    height: 140px;
}
.text_div{
    width: 150px;
    margin-top: 40px;
}
.us_p1{
    font-size: 25px;
}
.us_p2{
    color: #2dae36;
    font-weight: bold;
}
.liucheng{
    background: #f9f9f9;
    margin-top: 10px;
    border-bottom: 1px dashed #2dae36 ;
}
.right_us1{
    margin-left: 350px;
}
.right_us1 h4{
    color: #2dae36;
    font-weight: bold;
}
.right_p{
    text-indent: 20px;
}
.callme{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 60px;
}
.line{
    margin-top: 60px;
    width: 540px;
    height: 125px;
    border-right: 1px solid #2dae36;
    text-align: center;
}

.tel{
    
   
    margin-left: 100px;

}
.tel span{
    font-size: 30px;
    margin-left: 150px;
    float: left;
    margin-right: -30px;
    
}
.p_tel{
    margin-top: 50px;
    font-weight: bold;
    font-size: 30px;
    
}
.sp1,.sp2,.sp3{
    
    float: left;
}
.right_call{
    width: 400px;
    margin-top: 70px;
    margin-left: 60px;
    line-height: 25px;
}
.right_call span{
    font-size: 30px;
}
.mapp{
    border-top: 1px solid #2dae36;
    border-bottom: 1px solid #2dae36;
}